@keyframes gradientBg {
    0% {
        background-position: 50% 0;
    }
    50% {
        background-position: 30% 100%;
    }
    100% {
        background-position: 50% 0;
    }
}

* {
    margin:0;
    padding:0;
}

body {
    background: linear-gradient(0deg, #ffffff, #ffffff, #b5fff2, #8affeb, #32d1e6);
    background-size: 150% 150%;
    animation: gradientBg 9s ease infinite
}

::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(1,1,1,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(1,1,1,0.4);
}

.App {
    height: calc(100vh - 30px);
    width: 70%;
    display: flex;
    margin: 15px auto;
    overflow: auto;
}

.logo {
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 35px;
    font-weight: 900;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    text-indent: 35px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
}

.slogan {
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: rgba(54, 54, 54, 0.6)
}

.form {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .App {
        width: 80%
    }
}

@media screen and (max-width: 768px) {
    .App {
        width: 90%
    }
}
